$background: rgb(2,0,36);
$linear-gradiant: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 53%, rgb(0, 47, 255) 100%);

footer {
    background: $background;
    background: $linear-gradiant;
  }