$headerText-color:       rgb(201, 101, 101);
$headerBackground-color: rgb(255, 255, 255);
$headerHeight: 100px;
$headerBoxShadow: 0px 0px 20px rgb(33, 226, 240);
$headerText: #000;

header {
    background-color: $headerBackground-color;
    color: $headerText-color;
    height: $headerHeight;
    box-shadow: $headerBoxShadow;
    a {
      color: $headerText;
    }
    p {
      color: $headerText;
    }
    h1 {
      color: $headerText;
    }
  }

$backgroundColor:   rgb(255, 255, 255);

.site-header {
    background: $backgroundColor;
}
