$backgroundColorH2: #000;
$fontColorH2:       #fff;
$marginTopH2:       -20px;
$padding:       20px;

$backgroundColorP:  pink;
$fontColorP:        #000;
$fontSizeP:         16px;

$columnBackground:  rgb(226, 180, 187);
$columnSize:        18px;
$columnWeight:      bold;
$columnColor:       #fff;

.page-style {
    h2 {
        background-color: $backgroundColorH2;
        color:$fontColorH2;
        margin-top: $marginTopH2;
        padding-left: $padding;
        padding-bottom: $padding;
    }
    p {
        background-color: $backgroundColorP;
        color: $fontColorP;
        padding: $padding;
        font-size: $fontSizeP;
    }
}

.columns {
    column-count: 2;
    p {
        background-color: $columnBackground;
        font-size: $columnSize;
        font-weight: $columnWeight;
        text-align: center;
        color: $columnColor;
    }
    a {
        color: $columnColor;
        &:hover {
            color: rgb(155, 7, 7);
        }
    }
}